@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #fff;
}

body{
    font-family: 'Spline Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/public/img/halo_bg.jpg');
    background-size: cover;
    /* clip-path: polygon(0% 0%, 90% 0, 96% 50%, 90% 100%, 0% 100%); */
    z-index: -1;
}

/* nav */
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 400;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3em;
}

.nav__items{
    list-style: none;
}


.nav__links{
    color: #fff;
    text-decoration: none;
}


.nav__menu{
    margin-left: auto;
    cursor: pointer;
}

.nav__img{
    display: block;
    width: 30px;
}

/* hero container */

.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #005fe1;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 30px;
}